.vert{
    /* color: #68D9A4 !important; */
    color: white !important;
    background-color: #68D9A4 !important;
}

.vert1{
    /* color: #68D9A4 !important; */
    color: white !important;
    background-color: #68D9A4 !important;
}

.rouge{
    color: white !important;
    background-color:#ED6454 !important;
}

.rouge1{
    color: white !important;
    background-color:#ED6454 !important;
}

.ellipsisDesc{
    overflow: hidden;
    height: 200px;
}

.ellipsis{
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardPerso{
    width: 33%;
}

@media screen and (max-width: 576px) {
    .cardPerso{
        width: 100%;
    }
}

.listeIngredients{
    color: white;
    background-color: #007bff;
    width: 150%;
    display: none;
    justify-content: space-around;
    flex-flow: row wrap;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.listeAppareils{
    color: white;
    background-color: #68D9A4;
    width: 150%;
    display: none;
    justify-content: space-around;
    flex-flow: row wrap;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.listeUstensiles{
    color: white;
    background-color: #ED6454;
    width: 150%;
    display: none;
    justify-content: space-around;
    flex-flow: row wrap;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.btnTag{
    width: 30%;
    margin-left: 2px;
    cursor: pointer;
}

#Ingredients::placeholder, #Appareils::placeholder, #Ustensiles::placeholder{
    color: white;
}