.vert{
    /* color: #68D9A4 !important; */
    color: white !important;
    background-color: #68D9A4 !important;
}

.rouge{
    color: white !important;
    background-color:#ED6454 !important;
}

.ellipsisDesc{
    overflow: hidden;
    height: 200px;
}

.ellipsis{
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardPerso{
    width: 33%;
}

@media screen and (max-width: 576px) {
    .cardPerso{
        width: 100%;
    }
}

.listeIngredients{
    color: white;
    background-color: #007bff;
    width: 600px;
    display: none;
    justify-content: space-around;
    flex-flow: row wrap;
}

.btnTag{
    width: 33%;
}
